body {
  font-family: Arial;
  margin: 0;
  background: #f5f5f5;
}

header {
  background: #00000069;
  color: white;
  text-align: center;
  padding: 40px;
}

section {
  padding: 20px;
  margin: 20px;
  background: white;
  border-radius: 10px;
}

h2 {
  margin-bottom: 10px;
}

a {
  display: inline-block;
  padding: 10px 20px;
  background: green;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}